@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-pt-12 text-light-default;
  }
  a,
  button {
    cursor: pointer;
    user-select: none;
    outline: transparent;
    @apply focus-ring;
  }
  img,
  video {
    display: block;
    width: 100%;
    height: auto;
  }
}

@layer utilities {
  .focus-ring {
    @apply ring-primary-300 focus-visible:outline-none focus-visible:ring-[3px];
  }

  .text-shadow-neon {
    text-shadow: 0px 0px 6px 0px #fca500;
  }

  .min-h-screen {
    min-height: 100vh;
    min-height: 100dvh;
  }

  .inset-0 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .clip-hexagon {
    clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
  }
}
